.jumbotron{
width:600px;
text-align: center;
margin:20px auto 0px;
}
.table>tbody>tr>th{text-align: center;}
.form-control{margin-top:5px;}
.selecionado{background:yellow;}
.negrito{font-weight: bold;}