<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
	<title>Lista Telefonica</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<style>
		.jumbotron{
			width:400px;
			text-align: center;
			margin:20px auto 0px;
		}
		.table>tbody>tr>th{text-align: center;}
		.form-control{margin-top:5px;}
		.selecionado{background:yellow;}
		.negrito{font-weight: bold;}
	</style>
	<script type="text/javascript" src="lib/angular.js"></script>
	<script>
		angular.module("listaTelefonica", []);
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
			$scope.app = "Lista Telefonica";
			$scope.contatos = [
				{nome:"Renan", telefone:"99996666", cor:"blue"},
				{nome:"Pedro", telefone:"66654446", cor:"grey"},
				{nome:"Camila", telefone:"55564447", cor:"red"}
			];
			$scope.operadoras = [
				{nome: "Oi", codigo: 14, categoria:"Celular"},
				{nome: "Vivo", codigo: 15, categoria:"Celular"},
				{nome: "Tim", codigo: 41, categoria:"Celular"},
				{nome: "GVT", codigo: 25, categoria:"Fixo"},
				{nome: "Embratel", codigo: 21, categoria:"Fixo"}
			];
			$scope.adicionarContato = function(contato){
				$scope.contatos.push(angular.copy(contato));
				delete $scope.contato;
			};
			$scope.apagarContatos = function(contatos){
				$scope.contatos = contatos.filter(function(contato){
					if (!contato.selecionado) return true;
				});
			};
			$scope.isContatoSelecionado = function(contatos){
				return contatos.some(function(contato){
					return contato.selecionado;
				});
			};
		});
	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		<table class="table" ng-show="contatos.length > 0">
			<tr>
				<th></th>
				<th>Nome</th>
				<th>Telefone</th>
				<th>Operadora</th>
				<th></th>
			</tr>
			<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
				<td><input type="checkbox" ng-model="contato.selecionado"></td>
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome}}</td>
				<td><div style="width:20px;height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
			</tr>
		</table>
		<hr>
		
		<input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome">
		<input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone">
		<select ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras" class="form-control">
			<option value="">Selecione uma Operadora</option>
		</select>
		<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
		<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contato</button>
	</div>
	<div ng-include="'footer.html'"></div>
</body>
</html>